!!! 5
-# coding: "UTF-8"
%head
  %link{rel: :stylesheet, type: "text/css", href: "style.css"}
  %title= "Wise Artificer's Insight"
%body
  %h2= "Wise Artificer's Insight"
  %h3= "Solar Exalted Crafting Statistics"
  %fieldset
    %h3= "Purpose"
    %ul
      %li
        %span To give a player thinking about making an Artifact or other complex project in
        %a{href: "http://theonyxpath.com/category/worlds/exalted/"} Exalted 3rd Edition
        %span some insight into their likelihood of success.
        %span A master craftsman of any discipline has awareness of their skill and should be able to judge what projects are trivial for them or beyond their skills.
        %span This can be difficult because of the complex die manipulation powers available to Solars in Exalted 3rd Edition.
        %span This program provides the crafter insight into their level of skill by providing a basic statistical analysis on a large number of crafting attempts.
    %h3= "How to use"
    %ul
      %li
        %strong Enter the statistics of the character doing the Crafting project and the Charms they want to use in the Attempt Settings form.
        %strong All Charms are applied uniformly to all Crafting rolls as part of a project attempt.
        %strong You can also change the number of crafting attempts to try in the Statistics Options section at the bottom.
        %strong More attempts will produce more accurate statistics but will take longer to run.
      %li
        %span To use this program you will need a copy of the Exalted 3rd Edition core rulebook, to reference the Crafting rules on pages 238-244 and Solar Craft Charms on pages 289-299.
        %span This program is not a replacement for those rules and does not explain how Crafting works, detail what any of the Charms do, calculate costs, or enforce legal choices for Charms use.
        %span It will let you use Charms above your permanent Essence score or enable Charms without prerequisite or dependent Charms.
      %li
        %span In order to calculate statistics this program requires a minimum of 10 crafting attempts rolled at a time.
        %span Therefore it cannot be used for a final in-game crafting attempt.
        %span This is intentional, as you may wish to use different Charms on different rolls, which this program cannot do.
        %span Plus, you should probably make those rolls somewhere where your Storyteller can see.
      %li
        %span This website runs on Javascript, please enable it to use Wise Artificer's Insight.
        %span This website has been tested to work on Chrome and Firefox.  It will not work in Internet Explorer, please use a different browser.
  %fieldset
    %h3= "Attempt Settings"
    %form{id: "craftForm", onsubmit: "return fetchResultsJS(this,event);", action: "#"}
      %ul
        %li
          %strong Crafting Rules
          %ul
            %li{class: "form"}
              %label{for: "difficulty"} Difficulty (>=1):
              %input{type: "number", class: "raligner", name: "difficulty", min: "1", value: "5"}
            %li{class: "form"}
              %label{for: "terminus"} Terminus (>=1):
              %input{type: "number", class: "raligner", name: "terminus", min: "1", value: "6"}
            %li{class: "form"}
              %%label{for: "targetThreshold"} Target Threshold Successes (>=1):
              %input{type: "number", class: "raligner", name: "targetThreshold", min: "1", value: "50"}
        %li
          %strong Character Statistics
          %ul
            %li{class: "form"}
              %label{for: "craftAbility"} Relevant Craft:
              %p{class: "raligner"}
                - 6.times do |i|
                  %input{type: "radio", name: "craftAbility", class: "radio", value: i, checked: i==5} #{i}
            %li{class: "form"}
              %label{for: "craftArtifact"} Craft (Artifact):
              %p{class: "raligner"}
                - 7.times do |i|
                  %input{type: "radio", name: "craftArtifact", class: "radio", value: i, checked: i==5}= i < 6 ? i : "Not crafting Artifact"
            %li{class: "form"}
              %label{for: "craftSpeciality"} Craft Speciality:
              %p{class: "raligner"}
                %input{type: "checkbox", name: "craftSpeciality", class: "checkbox", checked: true}
            %li{class: "form"}
              %label{for: "craftAttribute"} Attribute used in Craft roll:
              %p{class: "raligner"}
                - 5.times do |i|
                  %input{type: "radio", name: "craftAttribute", class: "radio", value: i+1, checked: i==4} #{i+1}
            %li{class: "form"}
              %label{for: "intelligence"} Intelligence (Value used in some Charms):
              %p{class: "raligner"}
                - 5.times do |i|
                  %input{type: "radio", name: "intelligence", class: "radio", value: i+1, checked: i==4} #{i+1}
            %li{class: "form"}
              %label{for: "essence"} Permanent Essence:
              %p{class: "raligner"}
                - 5.times do |i|
                  %input{type: "radio", name: "essence", class: "radio", value: i+1, checked: i==0} #{i+1}
        %li
          %strong Per Roll Options
          %ul
            %li{class: "form"}
              %label{for: "stuntDice"} Stunt Dice:
              %p{class: "raligner"}
                %input{type: "radio", name: "stuntDice", class: "radio", value: 0, checked: false} 0
                %input{type: "radio", name: "stuntDice", class: "radio", value: 2, checked: true} 2
            %li{class: "form"}
              %label{for: "stuntSuccesses"} Stunt Successes:
              %p{class: "raligner"}
                - 3.times do |i|
                  %input{type: "radio", name: "stuntSuccesses", class: "radio", value: i, checked: i==0} #{i}
            %li{class: "form"}
              %label{for: "willpowerSpend"} Spending Willpower:
              %p{class: "raligner"}
                %input{type: "checkbox", name: "willpowerSpend", class: "checkbox", checked: true}
        %li
          %strong External Non-Charm Modifiers
          %ul
            %li{class: "form"}
              %label{for: "exceptionalEquipment"} Exceptional Equipment:
              %p{class:"raligner"}
                %input{type: "checkbox", name: "exceptionalEquipment", class: "checkbox, checked: false"}
        %li
          %strong Charms
          %ul
            %li{class: "form"}
              %label{for: "fullExcellency"} Full Craft Excellency:
              %p{class: "raligner"}
                %input{type: "checkbox", name: "fullExcellency", class: "checkbox", checked: true}
            %li
              %strong Essence 1
              %ul
                %li{class: "form"}
                  %label{for: "flawlessHandiworkMethod"} Flawless Handiwork Method:
                  %p{class: "raligner"}
                    %input{type: "checkbox", name: "flawlessHandiworkMethod", class: "checkbox", checked: false}
                %li{class: "form"}
                  %label{for: "flawlessHandiworkRepurchase"} Flawless Handiwork Method Repurchase:
                  %p{class: "raligner"}
                    %input{type: "checkbox", name: "flawlessHandiworkRepurchase", class: "checkbox", checked: false}
                %li{class: "form"}
                  %label{for: "supremeMasterworkFocus"} Supreme Masterwork Focus:
                  %p{class: "raligner"}
                    %input{type: "checkbox", name: "supremeMasterworkFocus", class: "checkbox", checked: false}
                %li{class: "form"}
                  %label{for: "supremeMasterworkFocusRepurchase"} Supreme Masterwork Focus Repurchase:
                  %p{class: "raligner"}
                    %input{type: "checkbox", name: "supremeMasterworkFocusRepurchase", class: "checkbox", checked: false}
                %li{class: "form"}
                  %label{for: "supremeMasterworkFocus2ndRepurchase"} Supreme Masterwork Focus 2nd Repurchase:
                  %p{class: "raligner"}
                    %input{type: "checkbox", name: "supremeMasterworkFocus2ndRepurchase", class: "checkbox", checked: false}
            %li
              %strong Essence 2
              %ul
                %li{class: "form"}
                  %label{for: "experientialConjuringOfTrueVoid"} Experiential Conjuring of True Void:
                  %p{class: "raligner"}
                    %input{type: "checkbox", name: "experientialConjuringOfTrueVoid", class: "checkbox", checked: false}
                %li{class: "form"}
                  %label{for: "unbrokenImageFocus"} Unbroken Image Focus (Purchase Max Allowed):
                  %p{class: "raligner"}
                    %input{type: "checkbox", name: "unbrokenImageFocus", class: "checkbox", checked: false}
                %li{class: "form"}
                  %label{for: "firstMovementOfTheDemiurge"} First Movement of the Demiurge:
                  %p{class: "raligner"}
                    %input{type: "checkbox", name: "firstMovementOfTheDemiurge", class: "checkbox", checked: false}
                %li{class: "form"}
                  %label{for: "breachHealingMethod"} Breach-Healing Method:
                  %p{class: "raligner"}
                    %input{type: "checkbox", name: "breachHealingMethod", class: "checkbox", checked: false}
            %li
              %strong Essence 3
              %ul
                %li{class: "form"}
                  %label{for: "divineInspirationTechnique"} Divine Inspiration Technique:
                  %p{class: "raligner"}
                    %input{type: "checkbox", name: "divineInspirationTechnique", class: "checkbox", checked: false}
                %li{class: "form"}
                  %label{for: "inspirationRenewingVision"} Inspiration Renewing Vision: number of free attempts:
                  %p{class: "raligner"}
                    %input{type: "number", name: "inspirationRenewingVision", min: "0", value: "0"}
                %li{class: "form"}
                  %label{for: "mindExpandingMeditation"} Mind-Expanding Meditation:
                  %p{class: "raligner"}
                    %input{type: "checkbox", name: "mindExpandingMeditation", class: "checkbox", checked: false}
                %li{class: "form"}
                  %label{for: "realizingTheFormSupernal"} Realizing the Form Supernal:
                  %p{class: "raligner"}
                    %input{type: "checkbox", name: "realizingTheFormSupernal", class: "checkbox", checked: false}
                %li{class: "form"}
                  %label{for: "wordsAsWorkshopMethod"} Word-as-Workshop Method: non-charm bonus dice:
                  %p{class: "raligner"}
                    %input{type: "number", name: "wordsAsWorkshopMethod", min: "0", value: "0"}
            %li
              %strong Essence 4
              %ul
                %li{class: "form"}
                  %label{for: "holisticMiracleUnderstanding"} Holistic Miracle Understanding:
                  %p{class: "raligner"}
                    %input{type: "checkbox", name: "holisticMiracleUnderstanding", class: "checkbox", checked: false}
                %li{class: "form"}
                  %label{for: "horizonUnveilingInsight"} Horizon Unveiling Insight:
                  %p{class: "raligner"}
                    %input{type: "checkbox", name: "horizonUnveilingInsight", class: "checkbox", checked: false}
                %li{class: "form"}
                  %label{for: "unwindingGyreMeditation"} Unwinding Gyre Meditation: previous iterations:
                  %p{class: "raligner"}
                    %input{type: "number", name: "unwindingGyreMeditation", min: "0", value: "0"}
            %li
              %strong Essence 5
              %ul
                %li{class: "form"}
                  %label{for: "sunHeartTenacity"} Sun-Heart Tenacity:
                  %p{class: "raligner"}
                    %input{type: "checkbox", name: "sunHeartTenacity", class: "checkbox", checked: false}
        %li
          %strong Statistics Options
          %ul
            %li{class: "form"}
              %label{for: "numAttempts"} Number of Crafting Attempts (>=10):
              %p{class: "raligner"}
                %input{type: "number", name: "numAttempts", min: "10", value: "5001"}
      %p{class: "raligner"}
        %input{type: "submit", value: "Roll!", class: "button"}
  %fieldset
    %h3= "Attempt Statistics"
    %div
      %strong Mean threshold successes per attempt: &mu; =
      %strong{id: "meanSuc"}
    %div
      %span Standard Deviation of threshold successes per attempt: &sigma; =
      %span{id: "stdDevSuc"}
    %div
      %span Median of threshold successes per attempt:
      %span{id: "medianSuc"}
    %div
      %span Percent of attempts with equal to or greater than minimum threshold:
      %span{id: "percentSuc"}
      %span%
    %div
      %span Initial size of crafting die pools:
      %span{id: "initialPoolSize"}
    %div
      %svg{width: 865, height: 380}
  %fieldset
    %h3= "About"
    %div Wise Artificer's Insight Copyright (c) 2016 Frank W. King
    %div
      %a{href: "mailto:wiseartificersinsight@gmail.com"} WiseArtificersInsight@gmail.com
    %div
      %a{href: "http://github.com/frankwking/WiseArtificersInsight/"} Github repository
    %div
      %a{href: "http://theonyxpath.com/category/worlds/exalted/"} Exalted 3rd Edition
      %span is the property of
      %a{href: "http://www.whitewolf-publishing.com/"} White Wolf Publishing AB
    %div
      %span Wise Artificer's Insight is neither affiliated with nor endorsed by
      %a{href: "http://www.whitewolf-publishing.com/"} White Wolf Publishing AB
      %span or
      %a{href: "http://theonyxpath.com/"} Onyx Path Publishing

  %script{type: "text/javascript", src: "zepto.js"}
  %script{type: "text/javascript", src: "index.js"}
  %script{type: "text/javascript", src: "renderHistogram.js"}
  %script{type: "text/javascript", src: "exaltedCraftingDieRoller.js"}
  %script{type: "text/javascript", src: "arrayStatsUtil.js"}
  %script{type: "text/javascript", src: "https://d3js.org/d3.v5.min.js"}
  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-77300469-1', 'auto');
    ga('send', 'pageview');
