%title= "Exalted Crafting"
%h2= "Exalted Crafting Die Roller"
%form{id: "craftForm", onsubmit: "return fetchResultsJS(this,event);", action: "#"}
  %fieldset
    %ul
      %li
        %label{:for => "craftAbility"} Relevant Craft:
        - 6.times do |i|
          %input{type: "radio", name: "craftAbility", class: "radio", value: i, checked: true} #{i}
      %li
        %label{:for => "craftArtifact"} Craft (Artifact):
        - 6.times do |i|
          %input{type: "radio", name: "craftArtifact", class: "radio", value: i, checked: true} #{i}
      %li
        %label{:for => "craftSpeciality"} Craft Speciality:
        %input{type: "checkbox", name: "craftSpeciality", class: "checkbox", checked: true}
      %li
        %label{:for => "craftAttribute"} Attribute:
        - 5.times do |i|
          %input{type: "radio", name: "craftAttribute", class: "radio", value: i+1, checked: true} #{i+1}
    %input{:type => "submit", :value => "Roll", :class => "button"}
%div
  %strong Mean successes per attempt:
  %strong{id: "meanSuc"}= ECDRInstance.collectAttemptStatistics.round(2).to_s
%div
  %span Standard Deviation of successes per attempt:
  %span{id: "stdDevSuc"}= ECDRInstance.stdDevSuc.round(2).to_s
%div
  %span Median of successes per attempt:
  %span{id: "medianSuc"}= ECDRInstance.medianSuc.to_s
%div
  %span Initial size of crafting die pools:
  %span{id: "initialPoolSize"}= ECDRInstance.initialPoolSize.to_s

%script{type: "text/javascript", src: "zepto.js"}
%script{type: "text/javascript", src: "index.js"}
